<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://github.com/tmijs/tmi.js/releases/download/v1.8.5/tmi.min.js" type="text/javascript"></script>
        <link rel="stylesheet" href="/stylesheets/timer.css" />
    </head>
    <body>
        <div id="container">
            <div id="textDiv">
                <p id="timeText">00:00:00</p>
            </div>
            <canvas id="canvas"></canvas>
        </div>

        <script src="/js/timer.js"></script>
    </body>
</html>